<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/renote_logo"
        android:label="ReNoteAI"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/renote_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraXApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.deleteedit.DeleteEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.cropedit.CropEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.filteredit.FilterEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.signupotp.SignUpOTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.signup.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.activities.camera.EmailPopUpActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.camera.EmailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.camera.OCRResultViewer"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.camera.IDCardViewer"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.camera.BookViewer"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.edit.EditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.camera.ImageViewer"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.camera.CameraActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.renote.renoteai.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>